/* Universal */
body {
  font-family: "Source Code Pro", monospace;
  font-size: 18px;
  background-color: royalblue;
  color: floralwhite;
  text-align: center;
}

/* Header */
header {
  border-bottom: 1px solid goldenrod;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  color: floralwhite;
}

/* About Section */

h1 {
    font-size: 2em;
}

#about {
    position: relative;
    top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid goldenrod;
}

#about img {
    border: 3px solid darkmagenta;
    height: 7rem;
    width: auto;
    border-radius: 50%;
}