/* Universal */
body {
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  background-color: royalblue;
  color: floralwhite;
  text-align: center;
}

/* Header */
header {
  border-bottom: 1px solid goldenrod;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  color: floralwhite;
}

/* About Section */
h1 {
  font-size: 2em;
}

#about {
  position: relative;
  top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid goldenrod;
}

#about p {
  width: 70%;
  min-width: 570px;
  margin: 0 auto;
}

#about img {
  border: 3px solid darkmagenta;
  height: 7rem;
  width: auto;
  border-radius: 50%;
}

/* Favorite Games section */
#favorite-games {
  position: relative;
  top: 3rem;
  border-bottom: 1px solid goldenrod;
  padding-bottom: 3rem;
}

#game-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  height: 400px;
  width: 100%;
  /* justify-content: center; */
  justify-items: center;
}

.game {
  color: black;
  background-color: antiquewhite;
  border: 1px solid black;
  border-radius: 15%;
  height: 350px;
  width: 250px;
}

.game img {
  height: 200px;
  width: auto;
}

@media only screen and (max-width: 1070px) {
  #game-grid {
    grid-template: repeat(4, 1fr) / repeat(6, 1fr);
    height: 800px;
  }

  .modern-warfare {
    grid-area: 1 / 1 / span 2 / span 2;
  }

  .minecraft {
    grid-area: 1 / 3 / span 2 / span 2;
  }

  .far-cry {
    grid-area: 1 / 5 / span 2 / span 2;
  }

  .red-dead {
    grid-area: 3 / 2 / span 2 / span 2;
  }

  .witcher {
    grid-area: 3 / 4 / span 2 / span 2;
  }
}

@media only screen and (max-width: 700px) {
  #game-grid {
    height: auto;
    grid-template: repeat(5, 1fr) / 1fr;
    grid-auto-flow: column;
    /* justify-content: center; */
    height: 2000px;
    grid-template-areas:
      "cod"
      "minecraft"
      "farcry"
      "reddead"
      "witcher";
  }

  .modern-warfare {
    grid-area: cod;
  }

  .minecraft {
    grid-area: minecraft;
  }

  .far-cry {
    grid-area: farcry;
  }

  .red-dead {
    grid-area: reddead;
  }

  .witcher {
    grid-area: witcher;
  }

  .game {
    width: 20em;
  }
}

/* Pictures section */
#picture-grid {
  padding: 3rem;
  position: relative;
  top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  border-bottom: 1px solid goldenrod;
}

#picture-grid img {
  height: 300px;
  width: 350px;
}

@media only screen and (max-width: 1070px) {
  #picture-grid {
    display: block;
    width: 100%;
  }

  #picture-grid img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Weekly meetings section */
#weekly-meeting {
  position: relative;
  top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid goldenrod;
}

#schedule {
  list-style-type: none;
  width: 70%;
  min-width: 570px;
  margin: 0 auto;
}

#schedule li {
  font-family: "Mate SC", serif;
  padding: 10px;
}

#weekly-meeting h3 {
  width: 80%;
  min-width: 600px;
  margin: 0 auto;
}

/* Member Testimonials section */
#member-testimonials {
  position: relative;
  top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid goldenrod;
}

#testimonial-grid {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2rem;
  align-items: center;
}

.testimonial {
  font-family: "Baloo Tammudu 2", cursive;
  font-size: 22px;
  background-color: antiquewhite;
  color: black;
}

/* Footer */
footer {
  text-align: left;
  font-size: 16px;
  position: relative;
  top: 3rem;
}
